<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542849187-5ec6ea5e6a27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=747&q=80);">
  <div class="container">
    <h1>Cocktails Gallery</h1>
    <p>Change your life and start drinking great drinks.</p>
    <%= link_to "Add a Cocktail", new_cocktail_path, class:"btn btn-flat"%>
  </div>
</div>


